.row input {
	width:100%;
}
.output {
	background-color: #CCC;
}
.stat-bar {
	height: 20px;
	display: inline-block;
	float: left;
}
/***************************************************************
POKEDEX STYLES
***************************************************************/
.ng-table {
    border: 1px solid #000;
}
.dex {
	height: 500px;
	overflow: auto;
}
#pokedex-table tr:hover {
	background-color: #AAA;
	cursor: pointer;
}
.active {
	background-color: #F00;
}