.row input {
	width:100%;
}
.output {
	background-color: #CCC;
}
.stat-bar {
	height: 20px;
	display: inline-block;
	float: left;
}
.ng-table {
    border: 1px solid #000;
}
.dex {
	height: 500px;
	overflow: auto;
}