<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Pokemon App</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="images/touch/chrome-touch-icon-196x196.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Pokemon App">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- build:css styles/components/main.min.css -->
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/mystyle.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://code.jquery.com/ui/1.11.0/themes/flick/jquery-ui.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-app="MyPokeApp" ng-controller="mainController">
    <header class="app-bar promote-layer">
      <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">Pokemon App</h1>
        debug {{moves}}
        <section class="app-bar-actions">
        <!-- Put App Bar Buttons Here -->
        </section>
      </div>
    </header>

    <!-- <nav class="navdrawer-container promote-layer">
      <h4>Navigation</h4>
      <ul>
        <li><a href="#hello">Hello</a></li>
        <li><a href="#get-started">Get Started</a></li>
        <li><a href="styleguide/index.html">Style Guide</a></li>
      </ul>
    </nav> -->

    <main>
    <div class="container">
      <div class="row">
        <div class="col-md-4">Name:</div>
        <div class="col-md-4">Level:</div>
        <div class="col-md-4">Meta:</div>
      </div>
      <div class="row" style="text-align: left;">
        <div class="col-md-4"><select ng-model="pokemon_active" ng-options="pokemon.name for pokemon in pokemons | orderBy:'name'" value="{{pokemon.name}}"></select></div>
        <div class="col-md-4"><input type="integer" name="level" ng-model="data.level"></input></div>
        <div class="col-md-4">
          <div class="radio">
            <input type="radio" ng-model="data.meta_level" name="optionsRadios" id="optionsRadios1" value="100">
              <label> 
                Level 100
              </label>
          </div>
          <div class="radio">
           <input type="radio" ng-model="data.meta_level" name="optionsRadios" id="optionsRadios2" value="50">
              <label>
                Level 50
              </label>
          </div>
          <div class="radio">
            <input type="radio" ng-model="data.meta_level" name="optionsRadios" id="optionsRadios2" value="5">
              <label>
                Level 5
              </label>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3"></div>
        <div class="col-md-1">Base</div>
        <div class="col-md-1">EV</div>
        <div class="col-md-1">IV</div>
        <div class="col-md-2">Nature</div>
        <div class="col-md-2">Multiplier</div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1">HP</div>
        <div class="col-md-3">Graph</div>
        <div class="col-md-1"><input type="integer" name="hp-base" ng-model="data.hpBase"></input></div>
        <div class="col-md-1"><input type="integer" name="hp-ev" ng-model="data.hpEv"></input></div>
        <div class="col-md-1"><input type="integer" name="hp-iv" ng-model="data.hpIv"></input></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"><div class="output">{{res.hp}}</div></div>
      </div>
      <div class="row">
        <div class="col-md-1">Atk</div>
        <div class="col-md-3">Graph</div>
        <div class="col-md-1"><input type="integer" name="atk-base" ng-model="data.atkBase"></input></div>
        <div class="col-md-1"><input type="integer" name="atk-ev" ng-model="data.atkEv"></input></div>
        <div class="col-md-1"><input type="integer" name="atk-iv" ng-model="data.atkIv"></input></div>
        <div class="col-md-2"><input type="text" name="atk-nat" ng-model="data.atkNat"></input></div>
        <div class="col-md-2"><input type="integer" name="atk-mult" ng-model="data.atkMult"></input></div>
        <div class="col-md-1"><div class="output">{{res.atk}}</div></div>
      </div>
      <div class="row">
        <div class="col-md-1">Def</div>
        <div class="col-md-3">Graph</div>
        <div class="col-md-1"><input type="integer" name="def-base" ng-model="data.defBase"></input></div>
        <div class="col-md-1"><input type="integer" name="def-ev" ng-model="data.defEv"></input></div>
        <div class="col-md-1"><input type="integer" name="def-iv" ng-model="data.defIv"></input></div>
        <div class="col-md-2"><input type="text" name="def-nat" ng-model="data.defNat"></input></div>
        <div class="col-md-2"><input type="integer" name="def-mult" ng-model="data.defMult"></input></div>
        <div class="col-md-1"><div class="output">{{res.def}}</div></div>
      </div>
      <div class="row">
        <div class="col-md-1">Sp.Atk</div>
        <div class="col-md-3">Graph</div>
        <div class="col-md-1"><input type="integer" name="spa-base" ng-model="data.spaBase"></input></div>
        <div class="col-md-1"><input type="integer" name="spa-ev" ng-model="data.spaEv"></input></div>
        <div class="col-md-1"><input type="integer" name="spa-iv" ng-model="data.spaIv"></input></div>
        <div class="col-md-2"><input type="text" name="spa-nat" ng-model="data.spaNat"></input></div>
        <div class="col-md-2"><input type="integer" name="spa-mult" ng-model="data.spaMult"></input></div>
        <div class="col-md-1"><div class="output">{{res.spa}}</div></div>
      </div>
      <div class="row">
        <div class="col-md-1">Sp.Def</div>
        <div class="col-md-3">Graph</div>
        <div class="col-md-1"><input type="integer" name="spd-base" ng-model="data.spdBase"></input></div>
        <div class="col-md-1"><input type="integer" name="spd-ev" ng-model="data.spdEv"></input></div>
        <div class="col-md-1"><input type="integer" name="spd-iv" ng-model="data.spdIv"></input></div>
        <div class="col-md-2"><input type="text" name="spd-nat" ng-model="data.spdNat"></input></div>
        <div class="col-md-2"><input type="integer" name="spd-mult" ng-model="data.spdMult"></input></div>
        <div class="col-md-1"><div class="output">{{res.spd}}</div></div>
      </div>
      <div class="row">
        <div class="col-md-1">Spe</div>
        <div class="col-md-3">Graph</div>
        <div class="col-md-1"><input type="integer" name="spe-base" ng-model="data.speBase"></input></div>
        <div class="col-md-1"><input type="integer" name="spe-ev" ng-model="data.speEv"></input></div>
        <div class="col-md-1"><input type="integer" name="spe-iv" ng-model="data.speIv"></input></div>
        <div class="col-md-2"><input type="text" name="spe-nat" ng-model="data.speNat"></input></div>
        <div class="col-md-2"><input type="integer" name="spe-mult" ng-model="data.speMult"></input></div>
        <div class="col-md-1"><div class="output">{{res.spe}}</div></div>
      </div>
      <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-2">
          
            <select ng-model="data.nature" ng-options="nature.verbose for nature in natures" value="{{nature.name}}"></select>
         
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">Moves:</div>
        <div class="col-md-2"></div>
        <div class="col-md-3">Ability:</div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><input auto-complete ui-items="moves" ng-model="selected1" id="moves1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3"><input type="text" name="ability" value=""></input></div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><input auto-complete ui-items="moves" ng-model="selected2" id="moves2"></div>
        <div class="col-md-7"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><input auto-complete ui-items="moves" ng-model="selected3" id="moves3"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3">Item:</div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3"><input auto-complete ui-items="moves" ng-model="selected4" id="moves4"></div>
        <div class="col-md-2"></div>
        <div class="col-md-3"><input type="text" name="item" value=""></input></div>
        <div class="col-md-2"></div>
      </div>
<!--       <div>
        <div ng-repeat="message in data.messages"></div>
      </div> -->
      <h2>Speed Comparison</h2>
      <div class="row">
        <div class="col-md-6">Without Scarf: <div class="output">{{res.woScarf}}</div></div>
        <div class="col-md-6">With Scarf: <div class="output">{{res.wScarf}}</div></div>
      </div>      
      <h2>Vs Comparison</h2>
To Be Determined

    </div>
    </main>

    <!-- build:js scripts/main.min.js -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
